<launch>
    <arg name="tcp_ip" default="192.168.163.128"/>
    <arg name="tcp_port" default="10000"/>
    <arg name="velocity_control" default="false"/>
    <arg name="namespace" default="xarm"/>
    <arg name="model1300" default="false" />
    <arg name="add_realsense_d435i" default="false" />
    <arg name="add_d435i_links" default="false" />
    <arg name="robot_sn" default="" />
	
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true">
		<param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
        <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
	</node>
    <node name="trajectory_mover" pkg="xarm_moveit" type="mover_server.py" args="--wait" output="screen"/>
    <include file="$(find xarm6_gripper_moveit_config)/launch/xarm6_gripper_moveit_gazebo.launch" >
           <arg name="velocity_control" value="$(arg velocity_control)"/>
	    <arg name="namespace" value="$(arg namespace)"/>
	    <arg name="model1300" value="$(arg model1300)" />
	    <arg name="add_realsense_d435i" value="$(arg add_realsense_d435i)" />
	    <arg name="add_d435i_links" value="$(arg add_realsense_d435i)" />
	    <arg name="robot_sn" value="$(arg robot_sn)" />
    </include>
    
</launch>
