<launch>
    <arg name="tcp_ip" default="192.168.163.128"/>
    <arg name="tcp_port" default="10000"/>
	
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true">
		<param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
        <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
	</node>

    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="align_depth" value="true"/>
        <arg name="publish_tf" value="false"/>
    </include>
    

    <node name="trajectory_mover" pkg="xarm_moveit" type="mover_server.py" args="--wait" output="screen"/>
    <include file="$(find xarm6_gripper_moveit_config)/launch/demo.launch" />
    
</launch>
